body{
    background: black;
}
.container{
    margin: 200px auto;
    width: 700px ;
    height: 400px;
    background: rgb(0, 149, 255);
    overflow: hidden;
    position: relative;
    
}
.guia {
    background-color: transparent;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    right: 190px;
    z-index: 4;
    cursor: pointer;
}
.sol{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(255, 208, 0);
    position: absolute;
    bottom: 40px;
    right: 190px;
   animation-name: moversol;
    animation-duration: 10s;
    animation-timing-function: linear;
    z-index: 1;
   
}

@keyframes moversol {
    0%{
        bottom: 70px;
    }50%{
        bottom: 450px;
    }100%{
        bottom: 70px;
        background-color: transparent;
    }

}
.montaña{
    position:absolute;
    top: 0;
    left: 0;
    width: 720px;
    height: 420px;
    object-fit: cover;
    pointer-events: none;
    z-index: 2;
}
.uno{
    position:absolute;
    top: -100px;
    left: 10px;
    right: auto;
    width: 150px;
    height: 500px;
    animation-name: nubeuno;
    animation-duration: 15s;
    animation-timing-function: linear;
}
@keyframes nubeuno {
    0%{
        left: 0px;
    }50%{
        left: 550px;
    }100%{
        left: 0px;
    }
}

.dos{
    position:absolute;
    top: -80px;
    left: auto;
    right: 10px;
    width: 150px;
    height: 500px;
    animation-name: nubedos;
    animation-duration: 15s;
    animation-timing-function: linear;
}
@keyframes nubedos {
    0%{
        right: 30px;
    }50%{
        right: 250px;
    }100%{
        right: 50px;
    }
}

.tres {
    position: absolute;
    top: -55px;
    left: 80px;
    right: auto;
    width:150px;
    height: 500px;
    z-index: 3;
    animation-name: nubetres;
    animation-duration: 12s;
    animation-timing-function: linear;
    }
    
    @keyframes nubetres {
        0%{
            left:70px ;
        }50%{
            left: 700px;
        }100%{
            left: 0px;
            
        }
    }
    
    .cuatro {
        position:absolute;
        top: -40px;
        left: auto;
        right: 50px;
        width: 150px;
        height: 500px;
        animation-name: nubedos;
        animation-duration: 27s;
        animation-timing-function: linear;
    }
    @keyframes nubedos {
        0%{
            right: 80px;
        }50%{
            right: 750px;
        }100%{
            right: 0px;
        }
    }
    
  