*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .CajaColores {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0;
        gap: 15px;
        background-color: rgb(248, 198, 220);
    }
    .CajaColores select {
        padding:10px 20px;
        border-radius: 15px;
        border: none ;
    }
    
    .CajaColores button {
        border-radius: 15px;
        padding: 10px 20px;
        background-color: rgb(170, 170, 170);
        cursor: pointer;
        border: none ;
       
    
    }
    
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        min-height: 500px;
        max-width: 1400px;
        margin: 30px auto 0 auto;
        border: 3px solid black;
        border-radius: 15px;
        flex-wrap: wrap;
    
    }
    
    .pelotica{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(206, 226, 255);
        border: 2px solid black;
        
    }

