body {
    background-image: url('../sources/images/fondo-modulos_Mesa\ de\ trabajo\ 1.png');
    background-size: cover;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #FFFFFF;
    text-align: center;
    flex-wrap: wrap;
    
}
@media(max-width: 800px) {

    .container {
        flex-direction: column;
        width: 10%;
        margin-bottom: 20px;
        align-items: center;
        flex: block;
    
    
    }
    .desafios-container {
        flex-direction: column;
        width: 80%;
        margin-bottom: 20px;
        align-items: center;
        flex: block;
        
    }
   
    .footer-content {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        flex: block;
    }
    .header {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
        align-items: center;
        flex: block;
    }
    .barra {
        flex-direction: column;
        width: 50%;
        align-items: center;
        flex: block;

    
    }
    
}

header {
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    position: relative;
}
.container {
    display: flex;
    align-items: flex-start;
    margin-left: 75px; 
}
.container h2{
    font-size: 90px;
    text-align: start;



}

.imgi{
width: 1100px;
margin-left: 75px;
margin-top: 60px;  
}

.h {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
}

nav {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    cursor: pointer;
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 50px;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
}

nav ul:first-child {
    cursor: pointer;
    justify-content: flex-start;
    
}

nav ul:last-child {
    cursor: pointer;
    justify-content: flex-end;
    
}

nav ul i {
    cursor: pointer;
    font-size: 24px;
    color: #fffefe;
    
}


.barra ul {
    list-style: none;
    padding: 0;
    margin: 0px 0;
    display: flex;
    align-items: flex-start;
    margin-left: 45px;

}

.barra ul li {
    margin: 0 30px;
    
}

.barra ul li a {
    align-items: flex-start;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #211328;
    border-color: #2B2159;
    border: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}
.barra ul li a:hover {
    background-color: #a08fb0;
    transform: scale(1.1); 
    cursor: pointer;

}

.video-section {
    margin: 30px 0;
    border-radius: 5px;
}
.video h3{
font-size: 150px;

}
.video-container {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.video-section h1{
    font-size: 40px;
    font-family: "LEMONMILK";

}
@font-face {
    font-family: "LEMONMILK";
    src: url("../sources/fonts//LEMONMILK-Medium.otf");
    src: url("../sources/fonts/LEMONMIL-Regular.otf")
}
.desafios {
    flex-wrap: wrap;
    padding: 40px 0;
    margin: 60px;
}
.desafios h3{
    font-size: 40px;
    font-family: "LEMONMILK";

}
.desafios-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.desafios a{
    color: #fff;
    font-family: 'LEMONMILK';
    text-decoration: none;
}


.desafio1 {
    background-image: url(../sources/images/desafio1.png);
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 379px;
    height: 534px;
}
.desafio1 h1{
    margin-top: 300px;
    font-family: "LEMONMILK";
}
.desafio1 h2{
    font-size: 12px;
}
.desafio1 img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.desafio1 button {
    background-color: #FF0A6C;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.desafio2 {
    background-image: url(../sources/images/desafio2.png);
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 379px;
    height: 534px;
}
.desafio2 h1{
    margin-top: 300px;
    font-family: "LEMONMILK";
}
.desafio2 h2{
    font-size: 12px;
}
.desafio2 img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.desafio2 button {
    background-color: #FF0A6C;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.desafio3 {
    background-image: url(../sources/images/desafio3.png);
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 379px;
    height: 534px;
}
.desafio3 h1{
    margin-top: 300px;
    font-family: "LEMONMILK";
}
.desafio3 h2{
    font-size: 12px;
}
.desafio3 img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.desafio3 button {
    background-color: #FF0A6C;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.desafio1:hover{
    transform: scale(1.1); 
    transition-duration: 0.5s;
}
.desafio2:hover{
    transform: scale(1.1); 
    transition-duration: 0.5s;
}
.desafio3:hover{
    transform: scale(1.1); 
    transition-duration: 0.5s;
}

footer {
    background-color: #2B2159; 
    padding: 15px;
    text-align: center;
}
.imagenes {
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
margin-top: 15px;
}
.footer-content {
    
    
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff; 
}

.logof {
    height: 50px; 
    cursor: pointer;
}

.social-icons a {
    margin: 0 10px;
    color: #fff; 
    font-size: 20px;
    text-decoration: none;
}

.suggestions {
    color: #fff; 
    text-decoration: none;
    font-size: 16px;
}

.suggestions:hover {
    text-decoration: underline;
}







.respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px; 
    max-width: 200px;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 30px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  
  .respmenu {
    color: white;
    position: relative;
    min-height: 30px;
  }
  
  .respmenu nav {
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: block;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }


  
.logo {
    position: absolute;
    left: 49%;
    margin-top: 15px;
    height: 40px; 
    z-index: 12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    position: relative;
}


.iniciada button {
    margin-left: 7px;
    width: 150px;
    height: 35px;
    background: #482568;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.iniciada span{
    margin-left: 10px;
    width: 150px;
    height: 35px;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
}
